<%= render @item %>

<div>
  <% if can? :update, @item %>
    <%= link_to "Edit this item", edit_item_path(@item) %> |
  <% end %>
  <%= link_to "Back to items", items_path %>
  <% if can? :destroy, @item %>
    <%=
      button_to "Destroy this item",
      @item,
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
    %>
  <% end %>
</div>
